server:
  port: 9999
spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        bootstrap: false
        native:
          search-locations: classpath:/config
